@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-sage-50: #f4f7f4;
  --color-sage-100: #e8eee8;
  --color-sage-200: #d1dfd1;
  --color-sage-300: #adc6ad;
  --color-sage-400: #8fbc8f;
  --color-sage-500: #6ca06c;
  --color-sage-600: #528052;
  --color-sage-700: #426642;
  --color-sage-800: #365236;
  --color-sage-900: #2c442c;
}

@layer base {
  body {
    @apply bg-sage-50 text-sage-900 antialiased selection:bg-sage-300 selection:text-white;
  }
}